body {
    font-family: 'Arial', sans-serif; 
    color: #333;
    background-color: #e7e7f8;
}
.register-container {
     
    margin: 5%;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    label{
        margin: 5px;
    }
    input{
        margin: 5px;
        width: 45%;
        padding-left: 3px;
        height: 40px;
        border-radius: 5px;
        border: 2px solid #a8a8a8;
    }
    button{
        width: 100px;
        margin: 10px 0 10px 5px;
    }
    span{
        padding-left: 5px;
    }
    
}
